body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;  
	align-items: center;
	height: 100vh;
	background: url('Desktop - 1 Login.png') no-repeat center center;
	background-size: cover;
}

.container {
	border-radius: 10px;
	display: flex;
	width: 52%;
	margin-top: 0px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form, .info-section {
	padding: 10px;
	flex: 1;
}

.registration-form {
	background-color: #f9f9f9;
	border-radius: 10px 0px 0px 10px;
}

.info-section {
	background-color: #f0f4f7;
	text-align: center;
	border-radius: 0px 10px 10px 0px;
}

/*Making labels block-level*/
.label_block {
	display: block;
}

/*Checkbox styling*/
#terms {
	margin-top: 10px;
}

/*Styling form input fields*/
.input_styling {
	width: 300px;
	height: 25px;
	border-radius: 5px;
	border-style: solid;
	border-color: #ff9800;
}

/*Anchor tags styling*/
a {
	color: #ff9800;
}

/*Form submit button*/
#submit_btn {
	color: white;
	background-color: #ff9800;
	margin-top: 10px;
	width: 300px;
	height: 25px;
	border-radius: 5px;
}

#submit_btn:hover {
    background-color: #e68900;
}

.label_block{
	margin-top: 3px;/*Margin above input labels*/
}

#logo {
	max-width: 85%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any unwanted bottom spacing */
    margin: 0 auto; /* Centers the image if the container has a defined width */
}

.top_text{
	margin: 0px;
}
